{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
<h2>Submit Configuration</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    {% for field in form %}
    <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% if field.help_text %}
            <small>{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock %}