{% extends 'base.html' %}
{% load configs_extras %}
{% block content %}
<h2 class="font-bold text-4xl pb-6">Submit Configuration</h2>
<form method="post" class="w-100" id="submitForm">
    {% csrf_token %}
    <div class="space-y-2">
        <div class="flex">
            <div class="w-24 pr-4">{{ form.recipient.label_tag }}</div>
            <div class="flex-1 max-w-[28rem]">{{ form.recipient | addclass:"w-full bg-black text-white p-1 border border-white"}}</div>
        </div>
        <div class="flex">
            <div class="w-24 pr-4">{{ form.subject.label_tag }}</div>
            <div class="flex-1 max-w-[28rem]">{{ form.subject | addclass:"w-full bg-black text-white p-1 border border-white"}}</div>
        </div>
        <div class="flex">
            <div class="w-24 pr-4">{{ form.cc.label_tag }}</div>
            <div class="flex-1 max-w-[28rem]">{{ form.cc | addclass:"w-full bg-black text-white p-1 border border-white"}}</div>
        </div>
    </div>

    <div class="flex justify-between items-center mt-6">
        <a href="{% url 'configs:test' %}" class="text-gray-400 hover:text-white transition-colors duration-200">
          <i class="bi bi-arrow-left mr-2"></i>Back to tests
        </a>
        <button type="submit" id="submitButton" class="text-2xl hover:translate-x-2 transition-transform duration-200 cursor-pointer">
          Submit <i class="bi bi-send ml-2"></i>
        </button>
        <div id="loadingIndicator" class="hidden">
          <span class="text-2xl">
            <i class="bi bi-arrow-repeat loading-spin mr-2"></i>Submitting...
          </span>
        </div>
    </div>
</form>

<script>

function wait(time) {
    return new Promise(resolve => {
        setTimeout(resolve, time);
    });
}

document.getElementById('submitForm').addEventListener('submit', async function(e) {
    e.preventDefault();
    
    if (confirm('Do you really want to submit?')) {
        document.getElementById('submitButton').classList.add('hidden');
        document.getElementById('loadingIndicator').classList.remove('hidden');
        await wait(500);
        this.submit();
    }
});
</script>
{% endblock %}