{% extends 'base.html' %}
{% block content %}

<h1 class="font-bold text-4xl mb-6">Configuration test</h1>
    <div class="mb-6">
    {% if can_proceed %}
        You can proceed submitting this configuration.<br>
        Please check the test report for possible warnings.
    {% else %}
        You configuration contains errors and cannot be submitted.
    {% endif %}
    </div>
    
<h1 class="font-bold text-2xl mb-6">Test report:</h1>
    <div class="text-mono text-sm p-4 bg-gray-900"><pre>{{ results | safe }}</pre></div>
    
    {% if request.session.test_status != 2 %}
        <div class="flex justify-end mt-6">
            <a href="{% url 'configs:deliver' %}" class="text-4xl hover:translate-x-2 transition-transform duration-200 cursor-pointer">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    {% else %}
        <div class="flex justify-end mt-6">
            <a href="{% url 'configs:upload' %}" class="text-4xl hover:translate-x-2 transition-transform duration-200 cursor-pointer">
                <i class="bi bi-arrow-left"></i>
            </button>
        </div>
    {%  endif %}
{% endblock %}