{% extends 'base.html' %}
{% block content %}

<h1 class="font-bold text-4xl mb-6">Configuration test</h1>
    <div class="mb-6">
    {% if request.session.test_status == 0 %}
        All tests <span class="text-green-500"><b>passed</b></span> successfully, you can proceed submitting this configuration.
    {% elif request.session.test_status == 1  %}
        You configuration contains <span class="text-yellow-500"><b>warning</b></span> but you can still submit it.<br>
        Please give a look to the attached report and carefully review the reason for these warnings before submitting.
    {% elif request.session.test_status == 2 %}
        Your configuration contains <span class="text-red-500"><b>errors</b></span> and can not be submitted.<br>
        Please give a look to the attached report and carefully, review the errors there and try uploading a new configuration.
    {% endif %}
    </div>
    
<h1 class="font-bold text-2xl mb-6">Test report:</h1>
    <div class="text-mono text-sm p-4 bg-gray-900"><pre>{{ results | safe }}</pre></div>

    <div class="flex justify-between items-center mt-8">
        <a href="{% url 'configs:upload' %}" class="text-gray-400 hover:text-white transition-colors duration-200">
          <i class="bi bi-arrow-left mr-2"></i>Back to upload
        </a>
        {% if request.session.test_status != 2 %}
            <a href="{% url 'configs:deliver' %}" class="text-2xl hover:translate-x-2 transition-transform duration-200 cursor-pointer">
                Submit <i class="bi bi-arrow-right"></i>
            </a>
        {%  endif %}
    </div>
{% endblock %}