{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}

<h2>New Configuration</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    <div>
        <label for="{{ form.model.id_for_label }}">Satellite Model:</label>
        {{ form.model }}
        {{ form.model.errors }}
    </div>

    {% for field in form %}
        {% if field.name != 'model' %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            <div class="field-error">{{ field.errors }}</div>
        </div>
        {% endif %}
    {% endfor %}

    <button type="submit">Next</button>
</form>

{% endblock %}