@import "tailwindcss";


@theme {
  --color-soc: var(text-orange-500);
  --color-moc: var(text-blue-500);
}

.loading-spin {
  animation: spin 1s linear infinite;
  display: inline-block;
}

.animate-pulse {
  animation: pulse 1s infinite;
}

.ping {
  animation: ping 1s infinite;
}