@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .status-dot {
    @apply w-1 h-1 rounded-full;
  }
  
  .status-dot-green {
    @apply bg-green-500 shadow-glow-green;
  }
  
  .status-dot-red {
    @apply bg-red-500 shadow-glow-red;
  }
  
  .status-dot-yellow {
    @apply bg-yellow-500 shadow-glow-yellow;
  }
}

.loading-spin {
  animation: spin 1s linear infinite;
  display: inline-block;
}

.animate-pulse {
  animation: pulse 3s infinite;
}

.ping {
  animation: ping 1s infinite;
}

details summary::-webkit-details-marker {
  display:none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.gray.700');
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.500');
}
