@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-spin {
  animation: spin 1s linear infinite;
  display: inline-block;
}

.animate-pulse {
  animation: pulse 3s infinite;
}

.ping {
  animation: ping 1s infinite;
}
