<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hermes Link - 429 Error</title>

        <!-- Meta information -->
        <meta name="description"
              content="Hermes Link is a web application designed to facilitate communications between the humans and machines of the HERMES collaboration.">
        <meta name="keywords" content="HERMES, HERMES-Pathfinder, space">
        <meta name="author"
              content="Giuseppe Dilillo, ASI-SSDC, HERMES-Pathfinder collaboration">
        <meta name="theme-color" content="#000000">

        <!--Scripts and icons-->
        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- Favicon setup -->
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'pics/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'pics/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'pics/favicon-16x16.png' %}">
        <link rel="manifest" href={% static 'site.webmanifest' %}>
    </head>

    <body class="min-h-screen bg-black text-white font-sans">
        {% load accounts_extras %}

        <div class="flex flex-col min-h-screen justify-center items-center">
            <div class="justify-start">
                <h1 class="text-6xl font-extrabold pb-4">HL</h1>
                <div class="space-y-4 pb-4">
                    <div class="text-4xl font-extrabold">429: Too many requests</div>
                    <div>Please try again later.</div>
                </div>
                <div class="text-right text-gray-400 hover:text-white transition-colors duration-200 ">
                    <a href="{% url 'main:index' %}"> <i class="bi bi-arrow-left"></i> Back to homepage</a>
                </div>
            </div>
        </div>
    </body>
</html>
