{% extends 'base.html' %}
{% load configs_extras %}
{% block content %}


    <h2 class="font-bold text-4xl mb-6">Commit uplink time</h2>
    <form method="post" class="w-full">
        {% csrf_token %}
        <div class="my-6">
            <div class="mb-4">
                Enter a UTC uplink time for this configuration.
                The Science Operations Team will be notified of this operation. If the configuration includes an <span class="font-mono">asic1.cfg</span> file, the scientific calibration data processing pipeline will be automatically updated.
            </div>

            <div class="space-y-2">
                <div class="flex flex-col">
                    <div class="flex-1 max-w-full">
                        {{ form.uplink_time | addclass:"w-full bg-black text-white p-2 border border-white" }}
                    </div>
                    {% if form.uplink_time.errors %}<div class="text-red-500 text-sm mt-4">{{ form.uplink_time.errors }}</div>{% endif %}
                    <div class="text-gray-400 text-xs mt-4">{{ form.uplink_time.help_text }}</div>
                </div>
            </div>
        </div>

        <h2 class="block font-medium my-6 text-2xl">Configuration details:</h2>
        {% include "configs/includes/card_config_lg.html" with config=config %}

        <div class="flex justify-between items-center mt-8">
            <a href="{% url 'configs:history' %}"
               class="text-gray-400 hover:text-orange-500 transition-colors duration-300">
                <i class="bi bi-arrow-left mr-2"></i>Back to history
            </a>
            <button type="submit"
                    class="text-2xl hover:translate-x-2 transition-transform duration-300 cursor-pointer">
                Confirm <i class="bi bi-floppy ml-2"></i>
            </button>
        </div>
    </form>

{% endblock %}
