{% extends 'base.html' %}
{% block content %}
    <h2 class="font-bold text-4xl mb-6">Uplink time saved successfully!</h2>
    <p class="mb-4">The configuration has been updated.</p>
    {% if asic1 %}
        <p class="mb-8">
            Since this configuration includes an <span class="font-mono">asic1.cfg</span> file, the calibration database update has been initiated.
        </p>
    {% else %}
        <p class="mb-8">
            This configuration does not include an <span class="font-mono">asic1.cfg</span> file; therefore, no calibration database update will be performed.
        </p>
    {% endif %}
    <a href="{% url 'configs:history' %}"
       class="text-gray-400 hover:text-orange-500 transition-colors duration-300">
        <i class="bi bi-clock-history mr-2"></i> Go to history
    </a>
{% endblock %}
