Dear Science Operations Team,

A new uplink time for the HERMES {{ config.model }} payload has been commited by {{ config.uplinked_by }}.

Configuration ID: {{ config.pk }}
Submission Date: {{ submission_date }} ({{ timezone }})
Uplink Date: {{ uplink_date }} ({{ timezone }})
Files: {{ files }}

You can check the configuration history at: {{ protocol }}://{{ domain }}{% url 'configs:history' %}
{% if asic1 %}A CALDB update has been automatically launched for this configuration.{% else %}Since this configuration does not contain an asic1 file, no CALDB update will be executed.{% endif %}

Best regards,
Mission Operations Team
via HERMES Link
