{% extends 'base.html' %}
{% load accounts_extras %}
{% block content %}
    <p class="mb-6">
        Welcome <span class="text-{{ user.gang | gang_color }}-500 font-extrabold">{{ user.get_username }}</span>.
    </p>

    <p class="mb-6">
        This is <b>Hermes Link</b>, a software tool designed to facilitate reliable communication between humans and machines of the HERMES science and mission operation teams. <br>
        Hermes Link also provides basic tools to monitor the in-orbit operations of the HERMES payloads.<br>
        While we made our best to make it as reliable and sound as we could, the tool is still young, and shit may indeed happen.
        In this case, please, let us know at: <i>giuseppe.dilillo@inaf.it</i>, <i>matteo.perri@inaf.it</i> or <i>simonetta.puccetti@asi.ssdc.it</i>.
    </p>

    <h2 class="mb-6 font-bold text-2xl ">Latest ops</h2>
    {% if logs %}
        <div class="mb-6">
            <ul class="space-y-1">
                {% for log, text_color in logs %}
                    <li class="text-xs font-mono {{ text_color }}">{{ log }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p class="text-gray-500 italic mb-6 text-center">No logs available at this time.</p>
    {% endif %}

    {% if services %}
    <h2 class="mb-4 font-bold text-2xl">Service status</h2>
    <div class="mb-2">
        <ul class="space-x-1">
            {% for service, status in services.items %}
                <span>{{ service }}</span>
                {% if status == True %}
                    <i class="bi bi-circle-fill text-green-500 animate-pulse"></i>
                {% else %}
                    <i class="bi bi-circle-fill text-red-500"></i>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}