{% extends 'base.html' %}
{% load accounts_extras %}
{% block content %}
    <p class="mb-6">
        Welcome <span class="text-{{ user.gang | gang_color }}-500 font-extrabold">{{ user.get_username }}</span>.
    </p>

    <p class="mb-6">
        This is <b>Hermes Link</b>, a software tool designed to facilitate reliable communication between humans and machines of the HERMES science and mission operation teams. <br>
        Hermes Link also provides basic tools to monitor the in-orbit operations of the HERMES payloads.<br>
        While we made our best to make it as reliable and sound as we could, the tool is still young, and shit may indeed happen.
        In this case, please, let us know at: <i>giuseppe.dilillo@inaf.it</i>, <i>matteo.perri@inaf.it</i> or <i>simonetta.puccetti@asi.ssdc.it</i>.
    </p>

    <p class="mb-6">
        Have fun and godspeed HERMES!
    </p>
{% endblock %}