<!-- Configuration list -->
{% if page_obj %}
    <div class="space-y-6">
        {% for config in page_obj %}
            <div class="config-entry bg-gray-900 p-4 rounded">
                <div class="grid grid-cols-12 gap-6 text-sm">
                    <!-- ID and Model columns take less space -->
                    <div class="col-span-1">
                        <span class="text-gray-400">ID</span>
                        <p class="font-medium">{{ config.pk }}</p>
                    </div>
                    <div class="col-span-1">
                        <span class="text-gray-400">Model</span>
                        <p>{{ config.model }}</p>
                    </div>
                    <div class="col-span-2">
                        <span class="text-gray-400">Submitted by</span>
                        <p class="font-medium break-words">{{ config.author.username|truncatechars:16 }}</p>
                    </div>
                    <div class="col-span-3">
                        <span class="text-gray-400">Submitted</span>
                        <p>{{ config.submit_time|date:"Y-m-d H:i"|default:"Not submitted" }}</p>
                    </div>
                    <div class="col-span-2">
                        <span class="text-gray-400">Uplinked by</span>
                        {% if not config.uplinked %}
                            <p> - </p>
                        {% else %}
                        <p class="font-medium  break-words">{{ config.uplinked_by.username|truncatechars:16 }}</p>
                        {% endif %}
                    </div>
                    <div class="col-span-3">
                        <span class="text-gray-400">Uplinked</span>
                        {% if not config.uplinked %}
                            <p> - </p>
                        {% else %}
                            <p class="text-green-400 font-bold">{{ config.uplink_time|date:"Y-m-d H:i"}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="mt-3 pt-3 border-t border-gray-700 flex justify-between">
                    <div class="text-sm ">
                        {% if not config.uplinked %}
                            <i class="bi bi-clock mr-2"></i>
                            <a href="{% url 'configs:commit' config.id %}" class="text-blue-400 hover:text-orange-500 duration-300">
                                Commit uplink time
                            </a>
                        {% endif %}
                    </div>
                    <div></div> <!-- Empty div to maintain layout when button is not shown -->
                    <!-- Download buttons stay on the right -->
                    <div class="text-sm">
                        <i class="bi bi-box-arrow-down mr-2"></i>
                        <a href="{% url 'configs:download' config.id 'zip' %}" class="mr-3 text-blue-400 hover:text-blue-300 duration-300">Download ZIP</a>
                        <a href="{% url 'configs:download' config.id 'tar' %}" class="text-blue-400 hover:text-blue-300 duration-300">Download TAR</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Paginator -->
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination flex justify-end items-right space-x-2 my-12 text-sm text-gray-400">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if query %}&query={{ query|urlencode }}{% endif %}" class="hover:text-white transition-colors duration-200">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query|urlencode }}{% endif %}" class="hover:text-white transition-colors duration-200">previous</a>
                {% endif %}

                <span> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if query %}&query={{ query|urlencode }}{% endif %}" class="hover:text-white transition-colors duration-200">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&query={{ query|urlencode }}{% endif %}" class="hover:text-white transition-colors duration-200">last &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="text-center pt-6">
        <p class="text-gray-400">{{ empty_message }}</p>
    </div>
{% endif %}