<!--Args:
    * `page_obj`, a paginator object.
    * `empty_message`, a str to be displayed when no objects matches query.
    * `query`, a search query string - OPTIONAL.
 -->
<!-- Configuration list -->
{% if page_obj %}
    <div class="space-y-6">
        {% for config in page_obj %}
            {% include "configs/includes/card_config_sm.html" with config=config %}
        {% endfor %}

        <!-- Paginator - Responsive version -->
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination flex flex-wrap justify-center sm:justify-end items-center gap-2 my-8 text-sm text-gray-400">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if query %}&query={{ query|urlencode }}{% endif %}"
                       class="px-2 py-1 hover:text-orange-500 transition-colors duration-300">« first</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query|urlencode }}{% endif %}"
                       class="px-2 py-1 hover:text-orange-500 transition-colors duration-300">previous</a>
                {% endif %}

                <span class="px-2 py-1">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if query %}&query={{ query|urlencode }}{% endif %}"
                       class="px-2 py-1 hover:text-orange-500 transition-colors duration-300">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&query={{ query|urlencode }}{% endif %}"
                       class="px-2 py-1 hover:text-orange-500 transition-colors duration-300">last »</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="text-center pt-6">
        <p class="text-gray-400">{{ empty_message }}</p>
    </div>
{% endif %}
