<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hermes Link - Logout</title>

        <!-- Meta information -->
        <meta name="description"
              content="Hermes Link is a web application designed to facilitate communications between the humans and machines of the HERMES collaboration.">
        <meta name="keywords" content="HERMES, HERMES-Pathfinder, space">
        <meta name="author"
              content="Giuseppe Dilillo, ASI-SSDC, HERMES-Pathfinder collaboration">
        <meta name="theme-color" content="#000000">

        <!--Scripts and icons-->
        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- Favicon setup -->
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'pics/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'pics/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'pics/favicon-16x16.png' %}">
        <link rel="manifest" href={% static 'site.webmanifest' %}>
    </head>

    <body class="min-h-screen bg-black">
        <div class="flex flex-col min-h-screen justify-center items-center text-6xl">👋</div>
    </body>
</html>
