<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hermes Link - Password reset</title>

        <!-- Meta information -->
        <meta name="description"
              content="Hermes Link is a web application designed to facilitate communications between the humans and machines of the HERMES collaboration.">
        <meta name="keywords" content="HERMES, HERMES-Pathfinder, space">
        <meta name="author"
              content="Giuseppe Dilillo, ASI-SSDC, HERMES-Pathfinder collaboration">
        <meta name="theme-color" content="#000000">

        <!--Scripts and icons-->
        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- Favicon setup -->
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'pics/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'pics/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'pics/favicon-16x16.png' %}">
        <link rel="manifest" href={% static 'site.webmanifest' %}>
    </head>

    <body class="min-h-screen bg-black text-white font-sans">
        {% load configs_extras %}
        <div class="flex flex-col min-h-screen justify-center items-center">
            <div class="justify-start">
                <h1 class="text-6xl font-extrabold pb-4">HL</h1>

                <div class="space-y-4 pb-4">
                    {% if validlink %}

                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="flex mb-4">
                                <div class="w-36 pr-4 pl-1">
                                    <label for="id_new_password1">New password:</label>
                                </div>
                                <div class="flex-1 max-w-[28rem]">
                                    {{ form.new_password1 | addclass:"w-full bg-black text-white p-1 border border-white" }}
                                    {% if form.new_password1.errors %}<div class="text-red-500 mt-1">{{ form.new_password1.errors }}</div>{% endif %}
                                </div>
                            </div>

                            <div class="flex">
                                <div class="w-36 pr-4 pl-1">
                                    <label for="id_new_password2">Confirm password:</label>
                                </div>
                                <div class="flex-1 max-w-[28rem] pl-1">
                                    {{ form.new_password2 | addclass:"w-full bg-black text-white p-1 border border-white" }}
                                    {% if form.new_password2.errors %}<div class="text-red-500 mt-1">{{ form.new_password2.errors }}</div>{% endif %}
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="submit"
                                        class="text-3xl font-extrabold mt-4 hover:text-blue-500 transition-colors duration-200 cursor-pointer">
                                    reset password
                                </button>
                            </div>
                        </form>

                    {% else %}
                        <div class="text-2xl mb-4 text-red-500">Password reset failed</div>
                        <p>This password reset link is invalid. Please request a new password reset.</p>

                        <div class="text-right hover:text-orange-500 transition-colors duration-200 mt-6">
                            <a href="{% url 'password_reset' %}" class="cursor-pointer">
                                Try again <i class="bi bi-arrow-repeat ml-2"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
